.input-text {
  position: absolute;
  left: 370px;
  width: 500px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  transition: 0.2s linear;
  outline: none;
  background-color: rgba($main-color, 0.15);
}

.input-text:hover {
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.input-text:focus {
  border: 2px solid $main-color;
  background-color: #fbfbfb;
}

.add--minibox {
  position: relative;
  margin-top: 25px;
}

.textbox {
  position: relative;
  left: 370px;
  border: 2px solid $main-color;
  outline: none;
  border-radius: 10px;
  margin-top: 7px;
  padding: 5px 10px;
  transition: 0.2s linear;
}