.computer {
  flex: 1;

  &--box {
    background-color: white;
    border-radius: 15px;
    width: 700px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 4px 12px;
    position: relative;
    margin: 70px auto 0;
    padding: 30px;

    & .title--large {
      font-size: 50px;
      margin: 10px 0 30px;
    }
  }
}

.computer--svg {
  position: absolute;
  top: -300px;
  right: -317px;
  cursor: default;
}

#monitor,
#pc-computer,
#table,
#keyboard,
#mouse-pad,
#mouse,
#Book,
#note,
#tree {
  transform: translateY(-150px);
  opacity: 0;
}

#table {
  animation: table_computer_intro 0.8s cubic-bezier(0.04, 0.55, 0.58, 1)
    forwards;
}

#monitor {
  animation: table_computer_intro 0.8s cubic-bezier(0.04, 0.55, 0.58, 1) 0.3s
    forwards;
}

#pc-computer {
  animation: table_computer_intro 0.8s cubic-bezier(0.04, 0.55, 0.58, 1) 0.2s
    forwards;
}

#keyboard {
  animation: table_computer_intro 0.8s cubic-bezier(0.04, 0.55, 0.58, 1) 0.2s
    forwards;
}

#mouse-pad {
  animation: table_computer_intro 0.8s cubic-bezier(0.04, 0.55, 0.58, 1) 0.2s
    forwards;
}

#mouse {
  animation: table_computer_intro 0.8s cubic-bezier(0.04, 0.55, 0.58, 1) 0.3s
    forwards;
}

#Book {
  animation: table_computer_intro 0.8s cubic-bezier(0.04, 0.55, 0.58, 1) 0.3s
    forwards;
}

#note {
  animation: table_computer_intro 0.8s cubic-bezier(0.04, 0.55, 0.58, 1) 0.4s
    forwards;
}

#tree {
  animation: table_computer_intro 0.8s cubic-bezier(0.04, 0.55, 0.58, 1) 0.4s
    forwards;
}

@keyframes table_computer_intro {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
