header {
  .nav {
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;

    &__logo {
      width: fit-content;
      padding-top: 5px;

      &--img {
        width: 50px;
      }
    }
  }
}
