.room {
  position: absolute;
  overflow: hidden;
  text-align: justify;
  z-index: 250;
  display: block;
  bottom: -1000px;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-out;

  &__content {
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 35px;
    opacity: 0;
    animation: contentAnimation 0.5s ease forwards;
    padding: 100px;

    & .title {
      font-weight: 600;
    }
  }
}
